<div class="container">
    <header class="header">
        <div class="logoDiv">
            <img src="/assets/logo.png" alt="logo" class="logoImg img">
        </div>
        <div class="middle">
            <p class="black">Acomodações</p>
            <p class="gray">Experiências</p>
        </div>
        <div class="end">
            <p>Anuncie seu espaço no Airbnb</p>
            <img src="/assets/world-financial.png" alt="world" class="worldImg img">
            <div class="user">
                <img src="/assets/menu-aberto.png" alt="menu" class="menuImg img">
                <img src="/assets/do-utilizador.png" alt="user" class="userImg img">
            </div>
        </div>
    </header>
    <nav class="nav">
        <div class="navMain">
            <div class="filter1 filter">
                <p class="black">Onde</p>
                <p class="gray">Buscar destinos</p>
            </div>
            <!-- === -->
            <div class="filter2 filter">
                <p class="black">Check-in</p>
                <p class="gray">Insira as datas</p>
            </div>
            <!-- === -->
            <div class="filter3 filter">
                <p class="black">Checkout</p>
                <p class="gray">Insira as datas</p>
            </div>
            <!-- === -->
            <div class="filter4 filter">
                <p class="black">Quem</p>
                <p class="gray">Hóspedes?</p>
                <div class="lupaDiv">
                    <img src="/assets/lupa.png" alt="lupa" class="lupaImg">
                </div>
            </div>
        </div>
    </nav>
</div>