<div class="container">
    <div class="mainView">
        <div class="titleDiv">
            <h1>Lindo Quarto para Casal com Cafe d Manha/TV/Ar #12</h1>
            <p>Compartilhar</p>
            <p>Salvar</p>
        </div>
        <!-- MAIN IMG -->
        <div class="imgDiv">
            <img src="/angular/src/assets/pool.jpg" alt="pool" class="mainImg">
        </div>
        <!-- LEFT & RIGHT -->
        <div class="left">
            <div class="leftTitleDiv">
                <h1>Quarto privativo em pousada em Cumbuco, Brasil</h1>
                <p>2 hóspedes, 1 quarto, 1 cama, 1 banheiro privado</p>
            </div>
            <hr>
            <!-- ANFITRIÃO -->
            <div class="host">
                <img src="#" alt="hostImg" class="hostImg">
                <div class="hostDesc">
                    <p class="black">Anfitriã(o): Arthur</p>
                    <p class="gray">Superhost, 13 anos hospedando</p>
                </div>
            </div>
            <hr>
            <!-- DETALHES -->
            <div class="airbnbDetailsDiv">
                <div class="details">
                    <img src="#" alt="detail" class="detail">
                    <p>Vista para o jardim</p>
                </div>
                <!-- === -->
                <div class="details">
                    <img src="#" alt="detail" class="detail">
                    <p>Cozinha</p>
                </div>
                <!-- === -->
                <div class="details">
                    <img src="#" alt="detail" class="detail">
                    <p>Wi-Fi</p>
                </div>
                <!-- === -->
                <div class="details">
                    <img src="#" alt="detail" class="detail">
                    <p>TV de alta definição de 32 polegadas</p>
                </div>
                <!-- === -->
                <div class="details">
                    <img src="#" alt="detail" class="detail">
                    <p>Estacionamento gratuito na rua</p>
                </div>
                <hr>
            </div>
        </div>
        <!-- RIGHT DIV -->
        <div class="right">
            <div class="infoDiv">
                <p class="gray"><span>R$395</span> noite</p>
                <!-- CHECK IN/OUT DIV -->
                <div class="checkDiv">
                    <div class="top">
                        <div class="check">
                            <p>CHECK-IN</p>
                            <p>15/10/2024</p>
                        </div>
                        <div class="check">
                            <p>CHECKOUT</p>
                            <p>20/10/2024</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="check">
                            <p>HOSPEDES</p>
                            <p>2 hóspede</p>
                        </div>
                    </div>
                </div>
                <!-- === -->
                <button class="btn">Reservar</button>
                <p>Você ainda não será cobrado</p>
                <hr>
                <div class="total">
                    <p class="black">Total sem impostos</p>
                    <p>R$1.975</p>
                </div>
            </div>
        </div>
    </div>
</div>