.container {
    width: 80%;
    height: auto;
    display: flex;
}

.airbnbFilterDiv {
    width: 100%;
    display: flex;
}

.airbnb {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.airbnb p {
    font-size: 12px;
}

// IMAGES
.airbnbImg {
    width: 25px;
}

.filterImg {
    width: 30px;
}

// FILTER DETAIL
.filterDetail {
    display: flex;
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid gray;
}