<div class="container">
    <div class="airbnbFilterDiv">
        <div class="airbnb">
            <img src="/assets/favorito.png" alt="favorito" class="airbnbImg">
            <p class="gray">Favoritos</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/cabana.png" alt="cabana" class="airbnbImg">
            <p class="gray">Cabana</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/de-praia.png" alt="praia" class="airbnbImg">
            <p class="gray">Em frente à praia</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/ilhas-de-palmeiras.png" alt="ilha" class="airbnbImg">
            <p class="gray">Ilhas</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/mansao.png" alt="mansao" class="airbnbImg">
            <p class="gray">Mansões</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/swimming-pool.png" alt="pool" class="airbnbImg">
            <p class="gray">Piscinas</p>
        </div>
        <!-- === -->
        <div class="airbnb">
            <img src="/assets/casa-na-arvore.png" alt="arvore" class="airbnbImg">
            <p class="gray">Casa na árvore</p>
        </div>
    </div>
    <!-- FILTERS -->
    <div class="filterDetail">
        <img src="/assets/filtro.png" alt="filter" class="filterImg">
        <p class="black">Filtros</p>
    </div>
</div>