<div class="container">
    <div class="cardDiv">
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
        <!-- === -->
        <div class="card">
            <div class="imgDiv">
                <img src="/assets/cardImg.jpg" alt="cardImg" class="cardImg">
                <!-- <img src="#" alt="heart" class="heartImg"> -->
            </div>
            <div class="cardDesc">
                <p>Recife, Brasil</p>
                <p>1.817km de distância</p>
                <p>12 - 17 de nov.</p>
                <p>R$ 508 noite</p>
            </div>
        </div>
    </div>
</div>